@import "../../../scss/variables.scss";

.btn {
  cursor: pointer;
  outline: none;

  font-weight: 700;
  border: none;
  border-radius: $btnBorderRadius;
  padding: 0.6rem 1rem;

  &-sm {
    font-size: 0.9em;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: $disabledBgColor;
    color: $disabledTextColor;

    &:hover {
      background-color: $disabledBgColor;
      color: $disabledTextColor;
    }
  }
}

.btn-primary {
  background-color: darken($primaryColor, 25);
  color: $lightColor;

  &:hover,
  &:focus {
    background-color: darken($primaryColor, 18);
  }
}
