@import "../../../scss/variables.scss";

.btn {
  cursor: pointer;
  outline: none;

  font-weight: 700;
  border: none;
  border-radius: $btnBorderRadius;
  padding: 0.6rem 1rem;

  &-sm {
    font-size: 0.9em;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: rgb(230, 230, 230);
    color: rgb(203, 203, 203);

    &:hover {
      background-color: rgb(230, 230, 230);
      color: rgb(203, 203, 203);
    }
  }
}

.btn-primary {
  background-color: $primaryColor-600;
  color: $lightColor;

  &:hover,
  &:focus {
    outline: 3px solid $lightColor;
  }
}
