@import "../../scss/variables.scss";

.square {
  color: $primaryColor;
  background-color: $lightColor;
  border: clamp(1px, 0.6vw, 5px) solid $primaryColor;
  padding: 0;

  aspect-ratio: 1;
  font-size: clamp(3em, 15vw, 6.75em);
  font-weight: 700;

  display: flex;
  justify-content: center;
  align-items: center;

  // outline: none;

  &:hover {
    cursor: pointer;
    background-color: darken($lightColor, 3);
    // background-color: lighten($primaryColor-300, 30);
  }

  &:focus-visible {
    border: 5px solid #000;
    border-radius: 5px;
    z-index: 1;
  }
}
