$wrapperWidth: 525px;
$btnBorderRadius: 4px;

$primaryColor: #00a678;
$primaryColor-300: #8dc9ab;
$primaryColor-400: #00a678;
$primaryColor-500: #009c6d;
$primaryColor-600: #00925b;
$primaryColor-700: #007348;
$lightColor: #fff;

// $primaryColor: #f54949;
// $primaryColor-300: #eb6d6d;
// $primaryColor-400: #f54949;
// $primaryColor-500: #fa3629;
// $primaryColor-600: #eb2a2a;
// $primaryColor-700: #d91d24;
// $lightColor: #f5d21d;
