$wrapperWidth: 525px;

$primaryColor: #00a678;
$primaryColor-300: #8dc9ab;
$primaryColor-400: #00a678;
$primaryColor-500: #009c6d;
$primaryColor-600: #00925b;
$primaryColor-700: #007348;
// $primaryColor: #f54949;
$lightColor: #fff;
// $lightColor: #f5d21d;

$btnBorderRadius: 4px;
